<link rel="stylesheet" href="/style/admin/addUser.css">

<div id="outer-background" class="d-flex  justify-content-center h-100 align-items-center">
    <div>
    <div class="w-100" id="inner-background">
        <a href="/admin/home" class="btn text-white px-3 mb-2" style="background-color:rgba(0,98,114,255)"><-</a>
        <form action="/admin/add-user" method="post" id="form">
            <div class="form-group pb-3">
                <label for="firstname" class="text-white">FIRSTNAME</label>
                <input type="text" class="form-control w-100" id="firstname" name="firstname" onkeyup="validateFirstname()">
                <div class="text-danger p-0 ms-5" id="FirstnameError">FirstName is required</div>
              </div>

              <div class="form-group pb-3">
                <label for="lastname" class="text-white">LASTNAME</label>
                <input type="text" class="form-control w-100" id="lastname" name="lastname" onkeyup="validateLastname()">
                <div class="text-danger p-0 ms-5" id="LastnameError">LastName is required</div>

              </div>

              <div class="form-group pb-3">
                <label for="email" class="text-white">EMAIL</label>
                <input type="text" class="form-control w-100" id="email" name="email" onkeyup="validateEmail()">
                <div class="text-danger p-0 ms-5" id="emailError">email is required</div>

              </div>

            <div class="form-group pb-3">
              <label for="username" class="text-white">USERNAME</label>
              <input type="text" class="form-control w-100" id="username" name="username" onkeyup="validateUsername()">
              <div class="text-danger p-0 ms-5" id="usernameError">username is required</div>

            </div>

            <div class="form-group pb-3">
                <label for="password" class="text-white">PASSWORD</label>
                <input type="password" class="form-control w-100" id="password" name="password" onkeyup="validatePassword()">
                <div class="text-danger p-0 ms-5" id="passwordError">password is required</div>

              </div>

            <button type="submit" class="btn btn-success d-block">Add User</button>
            <div class="text-danger p-0 ms-5" id="formError">above field should be filled</div>

          </form>
    </div>
</div>
    </div>


    <script src="/js/admin/addUser.js"></script>