<link rel="stylesheet" href="/style/admin/basePage.css">

<div class="body">
    <h3>ADMIN</h3>
    <div class="basePage-container">
        
    <div class="outer-container">
        <a href="/admin/login">Login</a>
        <a href="/admin/signup">Signup</a>
    </div>
</div>
</div>

</div>