<link rel="stylesheet" href="/style/user/basePage.css">

<div class="body">
    <h3>USER</h3>
    <div class="basePage-container">
        
    <div class="outer-container">
        <a href="/user/login">Login</a>
        <a href="/user/signup">Signup</a>
    </div>
</div>
</div>

</div>