<link rel="stylesheet" href="/style/user/signup.css">

<div class="body">
    <div class="outer-container">
    <h1 class="text-center">SignUp</h1>
    <h5 class="text-danger text-center"><%= err %></h5>
    <form action="/user/signup" method="post" id="form">
        <div>
        <label for="">Firstname</label>
        <input type="text" name="firstname" id="Firstname" onkeyup="validateFirstname()">
        <div class="text-danger p-0 ms-5" id="FirstnameError">FirstName is required</div>
    </div>
        <div>
        <label for="">Lastname</label>
        <input type="text" name="lastname" id="Lastname" onkeyup="validateLastname()">
        <div class="text-danger p-0 ms-5" id="LastnameError">LastName is required</div>
        </div>
        <div>
        <label for="">Email</label>
        <input type="text" class="ms-4" name="email" id="email" onkeyup="validateEmail()">
        <div class="text-danger p-0 ms-5" id="emailError">email is required</div>
        </div>
        <div>
        <label for="">username</label>
        <input type="text" name="username" id="username" onkeyup="validateUsername()">
        <div class="text-danger p-0 ms-5" id="usernameError">username is required</div>
        </div>
        <div>
        <label for="">Password</label>
        <input type="password" name="password" id="password" onkeyup="validatePassword()">
        <div class="text-danger p-0 ms-5" id="passwordError">password is required</div>
        </div>
        <div>
        <input type="submit" value="SignUP" class="signup">
        <div class="text-danger p-0 ms-5" id="formError">above field should be filled</div>
        </div>
        <span>already have an account ? <a href="/user/login">Login</a></span>
    </form>
</div>
</div>

<script src="/js/user/signup.js"></script>